<div class="row">
  <div class="cards">
    <% variable.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
     url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
            </div>
            <div class="card-body">
              <h3><%= cocktail.name %></h3>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
